/* VARIABLES */
:root {
  /* COLORS */
  --clr-light: #FFF;
  --clr-dark: #333;
  --clr-mid: #C4C4C4;
  --clr-background: #F5F5F5;
  --clr-primary: #73C3F4;
  --clr-secondary: #FFD900;
  --clr-accent: #DD71C6;
  /* FONTS */
  --font-body: 'Montserrat', sans-serif;
  --font-title: 'Libre Baskerville', serif;
  /* SPACING AND SIZES */
  --spacing-small: 20px;
  --spacing-medium: 47px;
  --spacing-large: 82px;
  --max-width: 1140px;
}
/* GENERAL STYLES */
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-body);
  background-color: var(--clr--background);
}
h1, h2, h3, h4, h5, h6,
.title, .subtitle {
  font-family: var(--font-title);
  font-weight: normal;
  line-height: 160%;
  padding: var(--spacing-small) 0;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
p {
  line-height: 160%;
}
button, .btn {
  font-size: 16px;
  color: var(--clr-light);
  border: none;
  border-radius: 0;
  padding: .75em;
  margin-top: var(--spacing-small);
  justify-self: center;
}
.btn--primary {
  background-color: var(--clr-accent);
}
.btn--secondary {
  background-color: var(--clr-secondary);
}
a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
  line-height: 160%;
}
img {
  max-width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  padding: var(--spacing-medium);
}
.circle {
  border-radius: 50%;
  border-width: 28px;
}
.circle.translucid {
  opacity: 0.15;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header.container {
  padding: var(--spacing-small);
}
.header__logo {
  width: 89px;
}
.nav__links {
  text-align: right;
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
}

/* HERO */
.hero__info-grid {
  display: grid;
}
.hero__title {
  text-align: center;
}
.hero__spots-remaining {
  text-align: center;
  font-size: 12px;
}
.hero__title span,
.hero__spots-remaining span {
  color: var(--clr-accent);
}
.hero__countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 159px;
  padding: 0 var(--spacing-small);
  margin: var(--spacing-small) auto;
  /* background-color: var(--clr-mid); */
  border: 1px solid var(--clr-accent);
  border-radius: 30px;
}
.hero__countdown-section > p,
.hero__countdown-section .countdown__number {
  margin: 1.5rem auto;
}
.hero__countdown-section .countdown__items {
  display: flex;
  align-items: center;
  width: 100%;
}
.hero__countdown-section .countdown__item {
  text-align: center;
  flex: 1;
}
.hero__countdown-section .countdown__items > p {
  font-size: 12px;
}
.hero__countdown-section .countdown__text {
  font-size: 8px;
  text-transform: uppercase;
  color: var(--clr-primary);
}
.hero__countdown-section .countdown__number {
  font-size: 18px;
}
.hero__spots-available {
  margin: var(--spacing-small) auto;
}

/* BULLET POINTS */
#bullet-points {
  background-color: var(--clr-accent);
}
.bullet-points__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.bullet-points__cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-light);
  border-radius: 20px;
  width: 100%;
  height: 157px;
  padding: .5rem;
}
.bullet-points__cards .card__highlight {
  font-size: 16px;
}
.bullet-points__cards .card__highlight span {
  font-size: 14px;
  color: var(--clr-mid);
}
.bullet-points__cards p {
  font-size: 12px;
}
.bullet-points__cards .card__icon {
  margin: .5rem;
}

/* WHO / HOW */
#who-how {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
#who-how .item {
  margin: var(--spacing-small) auto;
}
#who-how .section__image {
  width: 363px;
  max-width: 90vw;
  margin: var(--spacing-medium) 0;
}

/* WE CAN HELP YOU */
#we-can-help-you {
  background-color: var(--clr-light);
}
#we-can-help-you p {
  padding: var(--spacing-small) 0;
}
#we-can-help-you .section__image {
  width: 100vw;
}
#we-can-help-you .container:last-of-type {
  padding-bottom: 0;
}
#we-can-help-you .btn {
  margin-bottom: var(--spacing-medium);
}

/* FREE CONSULTATION */
#free-consultation {
  background-color: var(--clr-background);
}
#free-consultation .section__title span {
  color: var(--clr-accent);
}
#free-consultation .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: var(--clr-light);
  padding: .5rem;
  margin: var(--spacing-small) auto;
  font-size: 14px;
}
#free-consultation .card__title {
  font-family: var(--font-title);
  font-size: 18px;
  margin: .5rem auto;
}
#free-consultation hr {
  border: 0;
  width: 236px;
  max-width: 90%;
  height: 1px;
  margin: 17px auto;
}
#free-consultation .card:first-of-type .card__title {
  color: var(--clr-primary);
}
#free-consultation .card:first-of-type hr {
  background-color: var(--clr-primary);
}
#free-consultation .card:last-of-type .card__title {
  color: var(--clr-accent);
}
#free-consultation .card:last-of-type hr {
  background-color: var(--clr-accent);
}
#free-consultation .card ul {
  padding-left: 1.5rem;
}
#free-consultation .card li {
  position: relative;
  margin: var(--spacing-small) 0;
}
#free-consultation .card li::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--clr-dark);
  left: -1rem;
  top: 0.5rem;
}

/* FAQ */
#faq {
  background-color: var(--clr-light);
}
.faq__item {
  margin: 0.5rem 0;
  width: 100%;
}
.faq__item .question,
.faq__item .answer {
  background-color: var(--clr-background);
  border-radius: 12px;
  padding: .5rem;
  font-size: 14px;
  line-height: 175%;
  width: 100%;
}
.faq__item .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__item .question p {
  padding-right: 1rem;
}
.faq__item .answer {
  display: none;
  margin-top: -1.5rem;
  padding-top: 1.5rem;
  /* opacity: 0;
  transform-origin: top;
  transform: scaleY(0%);
  height: 0px;
  transition: all .2s ease; */
}

/* FOOTER */
footer, .footer {
  background-color: var(--clr-mid);
}
