/* VARIABLES */
:root {
  /* COLORS */
  --clr-light: #FFF;
  --clr-dark: #333;
  --clr-mid: #C4C4C4;
  --clr-background: #F5F5F5;
  --clr-primary: #73C3F4;
  --clr-secondary: #FFD900;
  --clr-accent: #DD71C6;
  /* FONTS */
  --font-body: 'Montserrat', sans-serif;
  --font-title: 'Libre Baskerville', serif;
  /* SPACING AND SIZES */
  --spacing-small: 20px;
  --spacing-medium: 47px;
  --spacing-large: 82px;
  --max-width: 1140px;
}
/* GENERAL STYLES */
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-body);
  background-color: var(--clr-background);
}
h1, h2, h3, h4, h5, h6,
.title, .subtitle {
  font-family: var(--font-title);
  font-weight: normal;
  line-height: 160%;
  padding: var(--spacing-small) 0;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
p {
  line-height: 160%;
}
button, .btn {
  display: block;
  font-size: 16px;
  color: var(--clr-light);
  border: none;
  border-radius: 0;
  padding: .75em;
  margin: var(--spacing-medium) auto var(--spacing-small);
  justify-self: center;
  transition: all .2s ease;
}
.btn:hover {
  cursor: pointer;
  background: radial-gradient(#CF2BAC, #B12694);
}
.btn--primary {
  background: var(--clr-accent);
}
.btn--secondary {
  background: var(--clr-secondary);
}
a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
  line-height: 160%;
}
img {
  max-width: 100%;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  position: relative;
  padding: var(--spacing-medium);
  z-index: 1;
}
.row {
  margin: var(--spacing-small) 0;
  max-width: 440px;
}
.decorations {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
.circle {
  position: absolute;
  border-style: solid;
  border-color: var(--clr-light);
  border-radius: 50%;
  border-width: 28px;
}
.circle.translucid {
  opacity: 0.3;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all .2s ease;
}
.header.active {
  background-color: var(--clr-light);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-small);
}
.header__logo {
  width: 89px;
}
.nav__links {
  background-color: var(--clr-light);
  text-align: right;
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0;
  padding: 0 var(--spacing-small) var(--spacing-small);
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: all .2s ease;
}
.nav__links.active {
  opacity: 1;
  transform: scaleY(1);
}
.nav__links li {
  padding: 0;
  border-bottom: 3px solid transparent;
}

/* HERO */
#hero {
  width: 100%;
  overflow: hidden;
  background-color: var(--clr-light);
}
#hero .decorations {
  z-index: 1;
}
#hero .decorations .circle--top {
  top: 10%;
  right: -15%;
  width: 222px;
  height: 222px;
}
#hero .decorations .circle--bottom,
#hero .decorations .circle--left {
  display: none;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--clr-secondary);
  border-radius: 50px 0 0 0;
  z-index: 0;
}
.hero__info-grid {
  display: grid;
  z-index: 1;
}
.hero__title {
  text-align: center;
}
.hero__spots-remaining {
  text-align: center;
  font-size: 12px;
}
.hero__title span,
.hero__spots-remaining span {
  color: var(--clr-accent);
}
.hero__countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 159px;
  padding: 0 var(--spacing-small);
  margin: var(--spacing-small) auto;
  background: rgb(255, 255, 255, .5);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0px 4px 50px rgb(0, 0, 0, 0.1);
}
.hero__countdown-section > p,
.hero__countdown-section .countdown__number {
  margin: 1.5rem auto;
}
.hero__countdown-section .countdown__items {
  display: flex;
  align-items: center;
  width: 100%;
}
.hero__countdown-section .countdown__item {
  text-align: center;
  flex: 1;
}
.hero__countdown-section .countdown__items > p {
  font-size: 12px;
}
.hero__countdown-section .countdown__text {
  font-size: 8px;
  text-transform: uppercase;
  color: var(--clr-primary);
}
.hero__countdown-section .countdown__number {
  font-size: 18px;
}
.hero__spots-available {
  margin: var(--spacing-small) 0;
}

/* BULLET POINTS */
#bullet-points {
  background-color: var(--clr-accent);
}
#bullet-points .decorations .circle--left {
  width: 125px;
  height: 125px;
  top: 47%;
  left: -20%;
}
#bullet-points .decorations .circle--right {
  width: 210px;
  height: 210px;
  top: 20%;
  right: -35%;
}
.bullet-points__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 1rem;
}
.bullet-points__cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-light);
  border-radius: 20px;
  width: 100%;
  height: 157px;
  padding: .5rem;
}
.bullet-points__cards .card__highlight {
  font-size: 16px;
}
.bullet-points__cards .card__highlight span {
  font-size: 14px;
  color: var(--clr-mid);
  padding-left: 0.2em;
}
.bullet-points__cards p {
  font-size: 12px;
}
.bullet-points__cards .card__icon {
  margin: .5rem;
}
/* WHO / HOW */
#who-how {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
#who-how .decorations .circle--left {
  display: none;
}
#who-how .decorations .circle--right {
  width: 336px;
  height: 336px;
  top: 5%;
  right: -67%;
}
#who-how .section__image {
  width: 363px;
  margin: var(--spacing-medium) 0;
}
/* WE CAN HELP YOU */
#we-can-help-you {
  background-color: var(--clr-light);
}
#we-can-help-you .decorations .circle {
  border-width: 20px;
}
#we-can-help-you .decorations .circle--left,
#we-can-help-you .decorations .circle--bottom {
  display: none;
}
#we-can-help-you .decorations .circle--right {
  border-color: var(--clr-background);
  top: 9%;
  right: -30%;
  width: 289px;
  height: 289px;
}
#we-can-help-you .container > .row:first-child {
  margin-bottom: var(--spacing-medium);
}
#we-can-help-you .section__image {
  width: 100vw;
}
#we-can-help-you .container:last-of-type {
  padding-bottom: 0;
}
#we-can-help-you .text-adjust {
  display: none;
}
#we-can-help-you .btn {
  margin-bottom: var(--spacing-medium);
}
/* FREE CONSULTATION */
#free-consultation {
  background-color: var(--clr-background);
}
#free-consultation .decorations .circle {
  border-width: 17px;
}
#free-consultation .decorations .circle--bottom {
  display: none;
}
#free-consultation .decorations .circle--left {
  width: 164px;
  height: 164px;
  top: 3%;
  left: -13%;
}
#free-consultation .decorations .circle--right {
  width: 129px;
  height: 129px;
  top: 10%;
  right: -17%; 
}
#free-consultation .section__title span {
  color: var(--clr-accent);
}
#free-consultation .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: var(--clr-light);
  padding: .5rem;
  margin: var(--spacing-small) auto;
  font-size: 14px;
}
#free-consultation .card__title {
  font-family: var(--font-title);
  font-size: 18px;
  margin: .5rem auto;
}
#free-consultation hr {
  border: 0;
  width: 236px;
  max-width: 90%;
  height: 1px;
  margin: 17px auto;
}
#free-consultation .card:first-of-type .card__title {
  color: var(--clr-primary);
}
#free-consultation .card:first-of-type hr {
  background-color: var(--clr-primary);
}
#free-consultation .card:last-of-type .card__title {
  color: var(--clr-accent);
}
#free-consultation .card:last-of-type hr {
  background-color: var(--clr-accent);
}
#free-consultation .card ul {
  padding-left: 1.5rem;
}
#free-consultation .card li {
  position: relative;
  margin: var(--spacing-small) 0;
}
#free-consultation .card li::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--clr-dark);
  left: -1rem;
  top: 0.5rem;
}
/* FAQ */
#faq {
  background-color: var(--clr-light);
}
#faq .decorations .circle {
  border-width: 20px;
  border-color: var(--clr-background);
}
#faq .decorations .circle--left,
#faq .decorations .circle--bottom {
  display: none;
}
#faq .decorations .circle--right {
  width: 169px;
  height: 169px;
  top: 2%;
  right: -25%;
}
.faq__items {
  margin-top: var(--spacing-medium);
}
.faq__item {
  margin: 0.5rem 0;
  width: 100%;
}
.faq__item .question,
.faq__item .answer {
  background-color: var(--clr-background);
  border-radius: 12px;
  padding: .5rem;
  font-size: 14px;
  line-height: 175%;
  width: 100%;
}
.faq__item .question {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.faq__item .question p {
  padding-right: 1rem;
}
.faq__item .question img {
  cursor: pointer;
  padding: 0.5rem;
}
.faq__item .answer {
  margin-top: -1.5rem;
  padding-top: 1rem;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0%);
  height: 0px;
  transition: all .2s ease;
}
.faq__item .answer.active {
  padding-top: 1.5rem;
  opacity: 1;
  transform: scaleY(100%);
  height: unset;
  transition: all .2s ease;
}

/* FOOTER */
.footer {
  position: relative;
  background-color: var(--clr-background);
  font-size: 14px;
  overflow: hidden;
}
.footer .decorations .circle {
  border-width: 28px;
}
.footer .decorations .circle--left,
.footer .decorations .circle--bottom {
  display: none;
}
.footer .decorations .circle--right {
  width: 230px;
  height: 230px;
  top: 60%;
  right: -30%;
}
.footer__logo {
  margin: var(--spacing-small) 0;
}
.footer .info-items {
  margin: var(--spacing-small) auto;
}
.footer .info-items > li {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
  margin: var(--spacing-small) 0;
} 
.footer .info-items > li p {
  position: absolute;
  left: 2.5rem;
}
.footer .col--links {
  margin-bottom: var(--spacing-medium);
}
.footer .col--links ul {
  margin: var(--spacing-small) 0;
} 
.footer .col--links li {
  margin: var(--spacing-small) 0;
}
.footer .social-icons {
  margin: var(--spacing-small) auto;
}
.footer .social-icons img {
  margin-right: 1rem;
}

/* ******************************* */
/* ******** MEDIA QUERIES ******** */
/* ******************************* */

/* TABLET PORTRAIT UP */
@media screen and (min-width: 600px) {
  .container {
    padding: var(--spacing-small) var(--spacing-large) var(--spacing-medium);
  }
  .header .container,
  .footer .container {
    padding: var(--spacing-small) var(--spacing-large);
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  /* HEADER */ 
  .header {
    background-color: var(--clr-light);
    height: 94px;
  }
  .nav__links {
    padding-right: var(--spacing-large);
  }
  /* HERO */
  #hero {
    margin-top: 94px;
  }
  #hero .decorations .circle--top {
    width: 289px;
    height: 289px;
  }
  #hero .decorations .circle--bottom {
    display: block;
    width: 179px;
    height: 179px;
    bottom: 20%;
    right: 20%;
  }
  #hero .decorations .circle--left {
    display: block;
    border-color: var(--clr-background);
    width: 273px;
    height: 273px;
    bottom: 35%;
    left: -15%;
  }
  .hero__info-grid {
    width: 100%;
  }
  .hero__title {
    text-align: left;
    align-self: flex-start;
  } 
  .hero__spots-available {
    align-self: flex-start;
  }
  .hero__countdown-section {
    width: 394px;
    height: 223px;
  }
  .hero__countdown-section .countdown__text {
    font-size: 12px;
  }
  .hero__countdown-section .countdown__number {
    font-size: 36px;
  }
  /* BULLET POINTS */
  #bullet-points .decorations .circle--right {
    top: 30%;
    right: -5%;
  }
  .bullet-points__cards {
    grid-template-columns: repeat(4, 1fr);
    margin: var(--spacing-small) 0;
    gap: 1.5rem;
  }
  .bullet-points__cards .card__highlight {
    font-size: 24px;
  }
  .bullet-points__cards .card__highlight span {
    font-size: 20px;
  }
  .bullet-points__cards .card {
    padding: 1rem;
    height: unset;
    justify-content: flex-start;
  }
  .bullet-points__cards p {
    font-size: 16px;
  }
  /* WHO/HOW */
  #who-how .decorations .circle {
    width: 413px;
    height: 413px;
  }
  #who-how .decorations .circle--left {
    display: block;
    bottom: 30%;
    left: -35%;
  }
  #who-how .decorations .circle--right {
    top: 13%;
    right: -30%;
  }
  #who-how .section__image {
    width: 439px;
  }
  /* WE CAN HELP YOU */
  #we-can-help-you .decorations .circle--right {
    top: 2%;
    right: -10%;
    width: 388px;
    height: 388px;
  }
  
  /* FREE CONSULTATION */
  #free-consultation .decorations .circle--left {
    width: 238px;
    height: 238px;
  }
  #free-consultation .decorations .circle--right {
    width: 238px;
    height: 238px;
    top: 35%;
  }
  #free-consultation .decorations .circle--bottom {
    display: block;
    width: 392px;
    height: 392px;
    top: 50%;
    left: -35%;
  }
  #free-consultation .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 440px;
    padding: var(--spacing-small) 0 var(--spacing-medium);
  }
  #free-consultation .card {
    max-width: 636px;
    padding: var(--spacing-small) var(--spacing-medium);
  }
  #free-consultation .card__title {
    font-size: 24px;
  }
  /* FOOTER */
  .footer {
    font-size: 16px;
  }
  .footer .decorations .circle--right {
    width: 366px;
    height: 366px;
    /* top: 20%; */
  }
  .footer .decorations .circle--left {
    display: block;
    width: 230px;
    height: 230px;
    top: 10%;
    left: 10%;
  }
  .footer .col--links {
    width: 100%;
    display: flex;
  }
  .footer .col--links > .col--inner {
    margin-right: 3rem;
  }
  .footer .row:last-child {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .footer .social-icons {
    margin: 0 var(--spacing-large) 0 0;
  }
}
/* MEDIUM MONITOR UP */
@media screen and (min-width: 1200px) {
  .container {
    padding: var(--spacing-large) var(--spacing-large) var(--spacing-large);
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 32px;
  }
  .hero__info-grid,
  .bullet-points__cards,
  .row {
    width: 100%;
    max-width: var(--max-width);
  }
  /* HEADER */
  .header {
    background-color: transparent;
  }
  .header .container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-small) 0;
  }
  .header__logo {
    width: 138px;
  }
  .header__nav {
    width: 100%;
    padding-left: var(--spacing-small);
    background-color: transparent;
  }
  .nav__mobile-menu-icon {
    display: none;
  }
  .nav__links {
    display: flex;
    justify-content: space-between;
    position: relative;
    opacity: 1;
    transform: scaleY(100%);
    background-color: transparent;
  }
  .nav__links li {
    text-align: center;
  }
  .nav__links li:hover {
    border-bottom: 3px solid var(--clr-accent);
  }
  /* HERO */
  #hero {
    margin-top: 0;
    padding-top: 150px;
    background-color: var(--clr-background);
  }
  #hero .decorations .circle--left {
    width: 386px;
    height: 386px;
    border-color: var(--clr-light);
    left: -5%;
  }
  #hero .decorations .circle--top {
    width: 436px;
    height: 436px;
  }
  .hero__info-grid {
    grid-template: 
                  "title  countdown"
                  "body   countdown"
                  "button countdown";
    gap: 1rem;
  }
  .hero__info-grid .hero__title {
    margin: 0;
    grid-area: title;
  }
  .hero__info-grid .hero__spots-available {
    grid-area: body;
  }
  .hero__info-grid .hero__spots-remaining {
    display: none;
  }
  .hero__info-grid .btn {
    grid-area: button;
    margin: var(--spacing-small) 0;
    justify-self: flex-start;
  }
  .hero__info-grid .hero__countdown-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 630px;
    height: 321px;
    grid-area: countdown;
    padding: var(--spacing-small) var(--spacing-medium);
  }
  .hero__countdown-section .countdown__items {
    margin-top: var(--spacing-small);
  }
  .hero__countdown-section p,
  .hero__countdown-section .countdown__text {
    font-size: 18px;
  }
  .hero__countdown-section .countdown__number {
    font-size: 50px;
  }
  /* BULLET POINTS */
  #bullet-points .decorations .circle--left {
    left: 2%;
  }
  .bullet-points__cards {
    gap: 2.5rem;
  }
  .bullet-points__cards .card__icon {
    width: 47px;
  }
  .bullet-points__cards .card__highlight {
    margin: 1rem 0;
  }
  .bullet-points__cards .card__highlight,
  .bullet-points__cards .card__highlight span {
    font-size: 40px;
  }
  .bullet-points__cards p {
    font-size: 18px;
  }
  /* WHO/HOW */
  #who-how .decorations .circle--right {
    width: 486px;
    height: 486px;
    top: 20%;
    right: -10%;
  }
  #who-how .decorations .circle--left {
    display: block;
    width: 271px;
    height: 271px;
    top: 20%;
    left: -10%;
    opacity: 1;
  }
  #who-how .container {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    padding: var(--spacing-large) 0;
    margin: 0 auto;
  }
  #who-how .col {
    width: 100%;
    flex: 1;
  }
  #who-how .col p {
    max-width: 380px;
  }
  #who-how .section__image {
    width: 550px;
  }
  #who-how .btn {
    margin: var(--spacing-medium) 0;
  }
  /* WE CAN HELP YOU */
  #we-can-help-you {
    text-align: center;
  }
  #we-can-help-you .section__image {
    order: 1;
    max-width: 1000px; 
  }
  #we-can-help-you .container {
    padding: var(--spacing-medium) 0 0;
  }
  #we-can-help-you .container:last-of-type {
    padding-top: 0;
  }
  #we-can-help-you .text-adjust {
    display: inline;
  }
  #we-can-help-you .container > .row:first-child {
    margin-bottom: var(--spacing-small);
  }
  #we-can-help-you .container .row:nth-of-type(2) {
    display: none;
  }
  #we-can-help-you .btn {
    margin: var(--spacing-small) 0 var(--spacing-medium);
  }
  /* FREE CONSULTATION */
  #free-consultation .decorations .circle--left {
    width: 386px;
    height: 386px;
    top: 30%;
    left: -10%;
  }
  #free-consultation .decorations .circle--right {
    width: 279px;
    height: 279px;
    top: 2%;
    right: 2%;
  }
  #free-consultation .decorations .circle--bottom {
    width: 158px;
    height: 158px;
    top: 50%;
    right: 10%;
    left: unset;
  }
  #free-consultation .container {
    padding: var(--spacing-large) 0 var(--spacing-large);
    max-width: var(--max-width);
  }
  #free-consultation .section__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #free-consultation .card {
    max-width: 447px;
  }
  #free-consultation .card__title {
    font-size: 24px;
  }
  #free-consultation .card li {
    font-size: 16px;
  }
  /* FAQ */
  #faq .container {
    padding: var(--spacing-large) 0 var(--spacing-large);
    max-width: var(--max-width);
  }
  #faq .decorations .circle--right {
    width: 269px;
    height: 269px;
    right: 2%;
    top: 10%;
  }
  #faq .decorations .circle--left {
    display: block;
    width: 410px;
    height: 410px;
    left: -10%;
    top: 30%;
  }
  .faq__item .question,
  .faq__item .answer {
    padding: var(--spacing-small);
  }
  .faq__item .question,
  .faq__item .answer {
    font-size: 16px;
  }
  /* FOOTER */
  .footer .decorations .circle--right {
    right: -5%;
    top: 20%;
  }
  .footer .container {
    padding: var(--spacing-large) 0;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  .footer .container > .row {
    display: flex;
    justify-content: space-between;
  }
  .footer .container > .row:last-child {
    margin-top: var(--spacing-medium);
  }
  .footer .col--info,
  .footer .col--links,
  .footer .social-icons,
  .footer .copyright {
    width: 440px;
  }
}
